{% extends 'myhome/muban/muban.html' %}


{% block title %}
<title>商品列表</title>
{% endblock %}

{% block css%}
<link rel="stylesheet" type="text/css" href="/static/myhome/css/list.css"/>
{% endblock %}

{% block con %}
<!-- 内容区域 -->

    <div class="w1200">
    	<!--分类导航-->
    	<div class="top_nv">
    		<span><a href="{% url 'shop_homepage' %}">首页</a></span>
    		<span>></span>
    		<span><a href="{% url 'shop_list' typelist.id %}">{{ typelist.name }}</a></span>
    		<span>></span>
    		{% for v in typelist.sub %}
    		<span><a {% if v.index %} style="color: #337ab7;" {% endif %} href="{% url 'shop_list' v.id %}">{{ v.name }}</a></span>
    		{% endfor %}
    	</div>
    	<!--分类导航-->
    	<!-- 商品列表 -->
    	<div class="box_list">
    		<div class="sl_list">
    			{% for v in typelist.goods %}
    			<ul>
    				<li>
            <!-- target="_blank" -->
    					<a href="{% url 'shop_info' %}?goodsid={{ v.id }}" >
    						<span class="list_img"><img src="{{ v.pic_url }}"/></span>
    						<span class="sl_list_con">
    							<span class="sl_price">
    								<b class="sl_price1"><span>{{ v.price|add:1111 }}</span></b>
    								<b class="sl_price2"><s>¥{{ v.price|add:1234 }} </s></b>
    							</span>
    						</span>
                <span class="sl_title" style="overflow:hidden;text-overflow:ellipsis;">{{ v.goodsname }}</span>
    					</a>
    				</li>
    			</ul>
    			{% endfor %}
    		</div>
    	</div>
        <!--分页-->
        <div class="page_list">
          	<div class="page_r">
           		<ul>
           			<li class="pre a_btn un">
           				<span><b><</b>上一页</span>
           			</li>
           			<li class="a_p_num">
           				<span>1</span>
           			</li>
           			<li>
           				<a href=""><span>2</span></a>
           			</li>
           			<li>
           				<a href=""><span>3</span></a>
           			</li>
           			<li>
            			<span class="more">...</span>
           			</li>
           			<li class="next a_btn">
           				<a href=""><span>下一页<b>></b></span></a>
           			</li>
           		</ul>
           	</div>
        </div>
        <!--分页end-->
    </div>
    
<!-- 内容区域E -->
{% endblock %}