<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="/static/myhome/css/login.css"/>
	</head>
	<body>
		<div id="append"></div>
		<div class="full_sc">
			<div class="head_cent head_cwo ClearFix">
				<div class="h_logo">
					<a href="{% url 'shop_homepage' %}">
						<img src="/static/myhome/image/logo.jpg"/>
					</a>
				</div>
				<div class="h_right">
					<img src="/static/myhome/image/top_center.jpg"/>
				</div>
			</div>
		</div>
		<div class="w980 ClearFix">
			<div class="logo_box ClearFix">
				<div class="login_b_l ClearFix">
					<a href="" title="日光生活">
						<img style="width: 560px;height: 360px;" src="/static/myhome/image/logo_img.jpg" alt="日光生活"/>
					</a>
				</div>
				<div class="login_b_r ClearFix">
					<div class="loginul ClearFix">
						<div class="login_h2 ClearFix">
							<h2>登录</h2>
							<div class="lognrtop">
								还没有账号-><a href="{% url 'shop_register' %}">快速注册</a>
							</div>
						</div>
						<div class="co">
							<div class="from">
								<form id="mainForm" action="{% url 'shop_dologin' %}" method="POST">
									{% csrf_token %}
									<div class="item">
									<input class="itxt" name="phone" placeholder="请输入登录账号" value="" >
									    <div class="err_box">
                                            <!-- <div class="err_msg2" style="display: none;">登录名可能是您的手机号、邮箱或用户名 -->
                                            </div>
                                        </div>
									</div>
									<div class="item">
                                        <input class="itxt" placeholder="请输入密码" name="password" id="password" type="password">
                                        <div class="err_box">
                                            <!-- <div class="err_msg2" style="display: none;">您的密码可能为字母、数字或符号的组合</div> -->
                                        </div>
									</div>
									<div class="item item3">
		                                <input placeholder="验证码" autocomplete="off" tabindex="6" maxlength="4" size="10" class="itxt itxt_yzm" name="code" id="code" type="text" style="position: relative;width: 180px">
		                                <img id='verifycode' src="{% url 'shop_code' %}" alt="shop_code" style="position: absolute;right:20px" onclick="this.src='{% url 'shop_code' %}'+'?'+Math.random()"/>
		                                <!-- <div class="err_box">
		                                    <div class="err_msg2" style="display: none;" id="error_captcha">请输入右侧验证码</div>
		                                </div> -->
		                            </div>
		                            <div class="item item4">
										<div class="safe ClearFix">
                                            <span>
                                            <input tabindex="4" class="jdcheckbox" name="autoLogin" id="autoLogin" checked="checked" type="checkbox">
                                            <label for="autoLogin">记住用户名</label>
                                            </span>
                                            <span class="forget-pw-safe">
                                                <a target="_blank" class="" href="">忘记密码？</a>
                                            </span>
										</div>
									</div>
									<!-- 登录按钮 -->
									<div class="item">
										<div class="login-btn">
										<button><a tabindex="6" id="loginsubmit" class="btn-img btn-entry">立即登录</a></button>
                                       </div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
